.RegisterButton { /* кнопка в обычном состоянии */
    background-color: #50f054; /* задний цвет - салатовый */
    color: white; /* цвет текста - белый */
    padding: 1.3%; /* отступ (или высота) кноки - 1% */
    margin-top: 10px; /* отступ от верха */
    border: none; /* удаляем ужасную рамку */
    cursor: pointer; /* при наведении на кнопку - меняем курсор */
    width: 100%; /* ширина во весь экран */
    opacity: 90%; /* видимость - 90% */
    font: 2em "Fira Sans", sans-serif; /* назначаем стиль текста */
    border-radius: 15px; /* делаем скругленные края */
    -webkit-transition: all .3s linear; /* добавляем немного плавности размером в 0.3 секунды */
}

.RegisterButton:hover { /* кнопка при наведении мышкой */
    color: white; /* цвет текста - белый */
    background: #4fd853; /* задний цвет - зеленый */
    -webkit-transition: all .3s linear; /* добавляем немного плавности размером в 0.3 секунды */
}

.RegisterButton:active { /* кнопка при клике */
    background: #4ec852; /* задний цвет - зеленый */
    font: 1.95em "Fira Sans", sans-serif; /* изменяем стиль текста */
    -webkit-transition: all .1s linear; /* добавляем немного плавности размером в 0.3 секунды */
}

input { /* вводное окошко */
    border: 0.1pc solid #000000; /* ширина бордера теперь - 0.1 пика */
    border-radius: 3px; /* делаем скругленные края */
    font: 1em "Fira Sans", sans-serif; /* назначаем стиль текста */
    height: 1.5em; /* высота в полтора длины шрифта */
}

td > label { /* label, находящийся в td */
    font: 1.3em "Fira Sans", sans-serif; /* назначаем стиль текста */
}

td { /* элемент в таблице */
    border: 2px solid #333333; /* назначаем border. цвет - черный */
}

table { /* таблица */
    border: 0.2pc solid #000000; /* назначаем границу */
    width: 100%; /* ширина во весь экран */
    background: Khaki; /* желтый */
}

table > caption { /* caption, находящийся в table */
    font: 2.4em "Fira Sans", sans-serif; /* назначаем стиль текста */
}
