hr {
    border: 0.1pc solid #000000; /* ширина бордера теперь - 0.1 пика */
    margin-bottom: 0.5pc; /* отступ от бордера в 0.5 */
}


.RegisterButton {
    background-color: #4CAF50; /* задний цвет - салатовый */
    color: white; /* цвет текста - белый */
    padding: 1%; /* отступ (или высота) кноки - 1% */
    border: none; /* удаляем ужасную рамку */
    cursor: pointer; /* при наведении на кнопку - меняем курсор */
    width: 100%; /* ширина во весь экран */
    opacity: 90%; /* видимость - 90% */
}